* {
  margin: 0;
  padding: 0;
}
.header {
  background-color: BLACK;
}
.imagen-logo-nav {
  margin: 0;
  padding: 0;
  height: 100px;
}
.nav-link{
  transition: color 0.5s;
}
.nav-link:hover{
  color: #5B61C8  !important;
}
.pointer-nav-item{
  pointer-events: none !important;
}
@media screen and (max-width: 575px) {
  
  .imagen-logo-nav {
    padding-left: 10px;
    height: 80px;
  }
  .navbar-toggler{
    margin-right: 10px;
  }
  .nav-bar a{
    padding-left: 20px;
  }
}
